<html>
	<head>
		<title>Django Girls blog</title>
	</head>
	<body>
		<div>

		<div>
			<h1><a href="">Django Girls Blog</a></h1>
			</div>

			<div>
				<p>published: 14.06.2014, 12:14</p>
				<h2><a href="">My first post</a></h2>
				<p>Well Hello! Here I am... typing my first blog post thanks to a Djangogirls 2-day CODING quickie...
			</div>

			<div>
				<p>published: 14.06.2014, 12:14</p>
				<h2><a href="">My second post</a></h2>
				<p>So Day 1 we mingled a bit with the PyCon People and listened to an Italian guy make a lekker presentation. I listened to his input and whatever he said about the 'Community'... in a tech sense ... ran true and similar to my field of interest, viz. 'Community Development'. Mmmm... interesting!
			</div>
		</body>
</html>

